<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
</head>

<body>
<div class="container-fluid">

    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>

</div>
<div class="container-fluid">
        <div class="row" style="height: 40vh">
            <div class = "col-6 text-center" style="background: red">
                <h1 class="display-5 text-white m-1">БОЕЦ НОМЕР РАЗ</h1>
                <h1 class="display-5 text-white">КЛУБ БОЙЦА НОМЕР РАЗ</h1>
            </div>
            <div class = "col-6 text-center" style="background: blue">
                <h1 class="display-5 text-white m-1">БОЕЦ НОМЕР ДВА</h1>
                <h1 class="display-5 text-white">КЛУБ БОЙЦА НОМЕР ДВА</h1>
            </div>
        </div>
        <div class="row text-center" style="height: 20vh">
            <div class = "col-6 text-center" style="background: red">
                <h1 class="display-1 text-white">05</h1>
            </div>
            <div class = "col-6 text-center" style="background: blue">
                <h1 class="display-1 text-white">02</h1>
            </div>
        </div>
        <div class="row text-center" style="height: 20vh">
            <div class = "col-4 text-center" style="background: red">
            </div>
            <h1 class="col-4 border border-secondary display-1 h-100">01:36</h1>
            <div class = "col-4 text-center" style="background: blue">
            </div>
        </div>
        <div class="row text-center" style="height: 20vh">
            <div class = "col-6 text-center" style="background: red">
            </div>
            <div class = "col-6 text-center" style="background: blue">
            </div>
        </div>
</div>
<script src="../../js/jquery-3.4.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>