<!doctype html>

    <html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
</head>

<body>
<div class="container-fluid">

    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>

</div>
<div class="container-fluid" style =  "background: url(../static/img/Табло4.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">
        <div class="row" style="height: 25vh">
            <div class = "col-6 text-center">
                <h1 class="display-5 text-white m-1">БОЕЦ НОМЕР РАЗ</h1>
                <h1 class="display-5 text-white">КЛУБ БОЙЦА НОМЕР РАЗ</h1>
            </div>
            <div class = "col-6 text-center">
                <h1 class="display-5 text-white m-1">БОЕЦ НОМЕР ДВА</h1>
                <h1 class="display-5 text-white">КЛУБ БОЙЦА НОМЕР ДВА</h1>
            </div>
        </div>
        <div class="row text-center" style="height: 40vh">
            <div class = "col-1 text-center" >
            </div>
            <div class = "col-4 text-center" >
                <h1 class="display-1 font-weight-bold text-white" style ="font-size: 200px !important">05</h1>
            </div>
            <h1 class="col-2 display-1">
            </h1>
            <div class = "col-4 text-center" >
                <h1 class="display-1 font-weight-bold text-white" style ="font-size: 200px !important">02</h1>
            </div>
            <div class = "col-1 text-center" >
            </div>
        </div>
        <div class="row text-center" style="height: 20vh">
            <div class = "col-4 text-center">
            </div>
            <h1 class="col-4 display-1 font-weight-bold h-100">01:36</h1>
            <div class = "col-4 text-center">
            </div>
        </div>
        <div class="row text-center" style="height: 15vh">
            <div class = "col-6 text-center">
                <h1 class="display-5 text-white m-1">Предупреждения : 0</h1>
            </div>
            <div class = "col-6 text-center">
                <h1 class="display-5 text-white m-1">Предупреждения : 1</h1>
            </div>
        </div>
</div>
<script src="../../js/jquery-3.4.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>