<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Scoreboard</title>
	  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
	</head>

	<body>
	<div class="container-fluid">

		<button type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
		</button>

	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-10">
					<div class="row">
						<div class="col-3">
							<h1
									class="btn border border-dark w-100"
							>
								БОЕЦ НОМЕР РАЗ
							</h1>
							
						</div>
						<div class="col-3">
							<button class="btn btn-secondary w-100">НОВЫЙ БОЙ</button>
						</div>
						<div class="col-3">
							<button class="btn btn-secondary w-100">ЗАГРУЗИТЬ БОЙ</button>
						</div>
						<div class="col-3">
							<h1
									class="btn border border-dark w-100"
							>
								БОЕЦ НОМЕР ДВА
							</h1>
							
						</div>
					</div>
					<div class="row text-center">
						<h1 class = "w-100 h-25"> ОБЩИЙ СЧЁТ
						</h1>
					</div>
					<div class="row text-center">
						<div class="col-2 bg-danger" >
							<h1 class="display-1 text-white m-1 mx-2">02</h1>
						</div>
						<button class="btn w-50">
							<label class="display-4">02:00</label>
						</button>
						<div class="col-2 bg-primary">
							<h1 class="display-1 text-white m-1">05</h1>
						</div>
					</div>
					<div class="row justify-content-md-center">
							<div class="row justify-content-md-start">
							<h1>
								<button class="btn btn-white w-100 h-100 mx-2">
									<img class = "w-100 h-25" src="../static/img/camera.png" alt="Camera">
								</button>
							</h1>
								<div class="col-3 m-1" style="background: darkorange">
									<label class="display-4">2</label>
								</div>
								<div class="col-1 m-1">
									<button class="btn my-1">
										<label class="display-5">+</label>
									</button>
									<button class="btn my-1">
										<label class="display-5">-</label>
									</button>
								</div>
							</div>
							<div class = "row justify-content-md-center">
							<button class="btn text-center bg-success mx-2">
									<label class="display-4">СТАРТ</label>
							</button>
							</div>
							<div class="row justify-content-md-end">
								<div class="col-1 m-1">
									<button class="btn my-1">
										<label class="display-5">+</label>
									</button>
									<button class="btn my-1">
										<label class="display-5">-</label>
									</button>
								</div>
								<div class=" col-3 m-1" style="background: yellow">
									<label class="display-4">1</label>
								</div>
							<h1>
								<button class="btn btn-white w-100 h-100 mx-2">
									<img class = "w-100 h-25" src="../static/img/camera.png" alt="Camera">
								</button>
							</h1>
							</div>
					</div>
					<div class="row text-center" >
						<div class="col-3 my-1 h-50" >
							<h1 class="display-1 bg-danger text-white m-1">1</h1>
							<button class="btn btn-danger my-1">
								<label class="display-5">-</label>
							</button>
							<button class="btn btn-danger my-1">
								<label class="display-5">+</label>
							</button>
						</div>
						
						<div class="col-6">
								<button class="btn bg-success m-1 ">
									<label class="display-4">Принять</label>
								</button>
						</div>
						<div class="col-3 my-1">
							<h1 class="display-1 bg-primary text-white m-1">0</h1>
							<button class="btn btn-primary my-1">
								<label class="display-5">-</label>
							</button>
							<button class="btn btn-primary my-1">
								<label class="display-5">+</label>
							</button>
						</div>
					</div>
					
					<div class="row justify-content-start my-1">
						<div class="col-1">
							<img src="../static/img/wrench-2x.png" alt="Settings">
						</div>
						<div class="col-1">
							<button class="btn btn-success text-white">
								<label>
									ИНД
								</label>
							</button>
						</div>
						<div class="col-1">
							<button class="btn border border-dark">
								<label>
									КОМ
								</label>
							</button>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="row h-100 bg-secondary m-1">
						<div class="col">
							<p class="small text-white">
								НАЧАЛО БОЯ
								<br>
								СТАРТ
								<br>
								01:47 СТОП +1
								<br>
								СТАРТ
								<br>
								01:35 СТОП предупреждение боец номер раз
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script src="../../js/jquery-3.4.1.min.js"></script>
		<script src="../../js/popper.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
	</body>
</html>