<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Scoreboard</title>
	  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
	</head>

	<body>
	<div class="container-fluid">

		<button type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
		</button>

	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-10">
					<div class="row">
						<div class="col-3">
							<h1
									class="btn border border-dark w-100"
							>
								БОЕЦ НОМЕР РАЗ
							</h1>
							
						</div>
						<div class="col-3">
							<button class="btn btn-secondary w-100">НОВЫЙ БОЙ</button>
						</div>
						<div class="col-3">
							<button class="btn btn-secondary w-100">ЗАГРУЗИТЬ БОЙ</button>
						</div>
						<div class="col-3">
							<h1
									class="btn border border-dark w-100"
							>
								БОЕЦ НОМЕР ДВА
							</h1>
							
						</div>
					</div>
					<div class="row text-center">
						<h1 class = "w-100 h-25"> ОБЩИЙ СЧЁТ
						</h1>
					</div>
					<div class="row">
						<div class="col-3 bg-danger text-center p-1" >
							<h1 class="display-1 text-white m-1">02</h1>
						</div>
						<button class="col-6 btn p-2">
							<label class="display-4">02:00</label>
						</button>
						<div class="col-3 bg-primary text-center p-1">
							<h1 class="display-1 text-white m-1">05</h1>
						</div>
					</div>
					<div class="row my-1" >
						<div class = "col-3">
							<div class = "row">
								<button class="btn btn-white border border-secondary">
									<img class = "w-100 h-25" src="../static/img/camera.png" alt="Camera">
								</button>
								<div class = "col-6 text-center mx-1" style = "background: darkorange">
								<h1 class="display-3 m-1" >2</h1>
								</div>
								<div class = "col-3 text-center">
									<button class="btn my-1 border border-secondary">
										<label class="display-5">+</label>
									</button>
									<button class="btn my-1 border border-secondary">
										<label class="display-5">-</label>
									</button>
								</div>
							</div>
						</div>
						<div class="col-6 text-center">
							<button class="btn bg-success m-1 w-99">
								<label class="display-4">СТАРТ</label>
							</button>
						</div>
						<div class = "col-3">
						<div class = "row">
							<div class = "col-3 text-center mr-1">
								<button class="btn my-1 border border-secondary">
									<label class="display-5">+</label>
								</button>
								<button class="btn my-1 border border-secondary">
									<label class="display-5">-</label>
								</button>
							</div >
							<div class = "col-5 text-center mx-1" style = "background: yellow">
							<h1 class="display-3 m-1" >1</h1>
							</div>
							<button class="btn btn-white border border-secondary">
								<img class = "w-100 h-25" src="../static/img/camera.png" alt="Camera">
							</button>
						</div>
					</div>
					</div>
					<div class = "row text-center">
						<h1 class = "w-100 h-25"> СХОД №4
						</h1>
					</div>
					<div class="row text-center my-1" >
						<div class="col-3" >
							<h1 class="display-2 bg-danger text-white">1</h1>
						</div>
						
						<div class="col-6">
								<button class="btn bg-success m-1 h-50">
									<label class="display-4">Принять сход</label>
								</button>
							<div class = "row">
							<div class = "col-6">
								<button class="btn btn-danger my-1 w-25">
									<label class="display-5">-</label>
								</button>
								<button class="btn btn-danger my-1 w-25">
									<label class="display-5">+</label>
								</button>
							</div>
							<div class = "col-6">
								<button class="btn btn-primary my-1 w-25">
									<label class="display-5">+</label>
								</button>
								<button class="btn btn-primary my-1 w-25">
									<label class="display-5">-</label>
								</button>
							</div>
							</div>
						</div>
						<div class="col-3">
							<h1 class="display-1 bg-primary text-white">0</h1>
						</div>
					</div>
					

				</div>
				<div class="col-2">
					<div class="row h-100 bg-secondary m-1">
						<div class="col">
							<p class="small text-white">
								НАЧАЛО БОЯ
								<br>
								СТАРТ
								<br>
								01:47 СТОП +1
								<br>
								СТАРТ
								<br>
								01:35 СТОП предупреждение боец номер раз
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script src="../../js/jquery-3.4.1.min.js"></script>
		<script src="../../js/popper.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
	</body>
</html>