<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Scoreboard</title>
	  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
		<style>
			   .right-arrow {
      		width: 50px;
      		height: 50px;
      		border-top: 10px solid #FFFFFF;
      		border-right: 10px solid #FFFFFF;
      		margin-right: 50px;
      		transform: rotate(45deg);
      		}
      	.left-arrow {
      		width: 50px;
      		height: 50px;
      		border-top: 10px solid #FFFFFF;
      		border-right: 10px solid #FFFFFF;
      		margin-right: 50px;
      		transform: rotate(225deg);
      		}
  }
		</style>
	</head>

	<body style=" background: #100027">
	<div class="container-fluid">

		<button type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
		</button>

	</div>
	<div class="container-fluid" >
		<div class="container" >
			<div class="row">
				<div class="col-10">
					<div class="row" style="height: 10vh">
						<div class="col-3">
							<h1
									class="btn border border-dark bg-light w-100"
							>
								БОЕЦ НОМЕР РАЗ
							</h1>
							
						</div>
						<div class="col-3">
							<button class="btn btn-secondary w-100">НОВЫЙ БОЙ</button>
						</div>
						<div class="col-3">
							<button class="btn btn-secondary w-100">ЗАГРУЗИТЬ БОЙ</button>
						</div>
						<div class="col-3">
							<h1 class="btn border border-dark bg-light w-100">
								БОЕЦ НОМЕР ДВА
							</h1>
							
						</div>
					</div>
					<div class = "row text-center" style="height: 25vh">
						<div class = "col-3">
						</div>
						<div class=" col -3 bg-danger border rounded text-center p-1" >
							<h1 class="display-1 text-white m-1">02</h1>
						</div>
						<div class="col-3 bg-primary border rounded text-center p-1">
							<h1 class="display-1  text-white m-1">05</h1>
						</div>
						<div class = "col-3">
						</div>
					</div>
					<div class="row">

					</div>
					<div class="row my-1" style="height: 15vh">
						<div class = "col-3">
							<div class = "row text-center">
								<button class="col-3 btn btn-white border rounded bg-white px-1 mr-2">
									<img class = "w-100 h-25" src="../static/img/camera.png" alt="Camera">
								</button>
								<div class = "col-4 text-center border rounded mx-1" style = "background: darkorange">
								<h1 class="display-3 text-white" >2</h1>
								</div>
								<div class = "col-4 text-right">
									<button class="btn my-1 border rounded btn-block">
										<label class="display-5 text-white">+</label>
									</button>
									<button class="btn my-1 border rounded btn-block">
										<label class="display-5  text-white">-</label>
									</button>
								</div>
							</div>
						</div>
						<div class="col-6 text-center h-100">
							<button class="col-2 btn p-2">
								<div class="left-arrow"></div>
							</button>
							<button class="col-6 btn p-2">
								<label class="display-4 text-white">02:00</label>
							</button>
							<button class="col-2 btn p-2">
								<div class="right-arrow"></div>
							</button>

						</div>
						<div class = "col-3">
							<div class = "row">
								<div class = "col-4 text-center">
									<button class="btn my-1 btn-block border rounded">
										<label class="display-5 text-white">+</label>
									</button>
									<button class="btn my-1 btn-block border rounded">
										<label class="display-5 text-white">-</label>
									</button>
								</div>
								<div class = "col-4 text-center border rounded mx-1" style = "background: yellow">
									<h1 class="display-3 text-white" >1</h1>
								</div>
								<button class="col-3 btn btn-white border rounded bg-white px-1 ml-2">
									<img class = "w-100 h-25" src="../static/img/camera.png" alt="Camera">
								</button>
							</div>
						</div>
					</div>
					<div class = "row text-center" style="height: 10vh">
						<h1 class = "w-100 h-25 text-white"> ТЕКУЩИЙ СХОД №4
						</h1>
					</div>
					<div class="row text-center my-1" style="height: 15vh" >
						<div class="col-3 " >
							<h1 class="display-2 border rounded bg-danger text-white">1</h1>
							<div class = "col-12">
								<button class="btn border rounded btn-danger my-1 w-25">
									<label class="display-5">-</label>
								</button>
								<button class="btn border rounded btn-danger my-1 w-25">
									<label class="display-5">+</label>
								</button>
							</div>
						</div>
						
						<div class="col-6">
								<button class="btn border border-white text-white m-1 btn-block">
									<label class="display-4">СТАРТ</label>
								</button>
								<button class="btn border border-white text-white m-1 btn-block">
									<label class="display-4">Принять</label>
								</button>
							<div class = "row">


							</div>
						</div>
						<div class="col-3">
							<h1 class="display-1 border rounded bg-primary text-white">0</h1>
							<div class = "col-12">
								<button class="btn border rounded btn-primary my-1 w-25">
									<label class="display-5">-</label>
								</button>
								<button class="btn border rounded btn-primary my-1 w-25">
									<label class="display-5">+</label>
								</button>
							</div>
						</div>
					</div>
					

				</div>
				<div class="col-2">
					<div class="row h-100 border border-white rounded m-1 btn-block">
						<div class="col">
							<p class="small text-white">
								НАЧАЛО БОЯ
								<br>
								СТАРТ
								<br>
								01:47 СТОП +1
								<br>
								СТАРТ
								<br>
								01:35 СТОП предупреждение боец номер раз
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script src="../../js/jquery-3.4.1.min.js"></script>
		<script src="../../js/popper.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
	</body>
</html>